
<div class="row">
	<div class="col-sm-12">

		<div class="form-inline">


			<!-- DATE SEARCH -->
		  <div class="form-group">
				<fieldset>
					<legend>Recherche par date</legend>
					<button ng-click="back()" class="btn btn-warning">Précédent</button>
					<input class="form-control datepicker"/>
					<button ng-click="foward()" class="btn btn-primary">Suivant</button>
				</fieldset>
			</div>

			<div class="form-group">
				&nbsp;
			</div>


			<!-- WORD SEARCH -->
		  <div class="form-group">
		  	<fieldset>
		  		<legend>Recherche par mot-clé</legend>
			    <input type="text" ng-model="searchContext" class="form-control"  placeholder="Entrez un mot"/>
				  <button ng-click="search()" class="btn btn-success">Rechercher</button>
		  	</fieldset>
		  </div>


		</div>

	</div>
</div>


<div class="row">
	<div class="col-sm-12">

		<br/>
		<h1 ng-show="notFound">Aucun résultat</h1>

		<div ng-repeat="result in results">
			<div class="search-result">
				<h4>
					<a href="javascript:;" ng-click="fetchComments(result)">
						<strong style="color: red">#{{result.Id}}</strong>&nbsp;Équipe {{ result.Team }} quart de {{ result.Period | periodPicker }}
					</a>
				</h4>
				<span>{{ result.Author.Title }} le {{ result.Modified | date }}</span><br/>
				<div class="collapse comment-collapse well collapse{{result.Id}} collapse{{result.Report.Id}}">


					<div class="report-section" ng-repeat="section in sections">
						<h4>{{section.name}}</h4>
						<div>
							<ul class="">
								<li ng-repeat="comment in comments | filter:{ ReportId: result.Id} | filter:{ Section: section.id } ">
									<p  ng-bind-html="comment.Title | highlight:searchContext" ></p>
								</li>
							</ul>
						</div>			
					</div>

				</div>
			</div>




<!-- 			<table ng-show="report" class="table table-hover table-striped">
				<caption>Rapport unités d'opérations</caption>
				<tr>
					<td>Identifiant</td>
					<td ng-bind="report.Id"></td>
				</tr>
				<tr>
					<td>Responsable</td>
					<td ng-bind="report.Author.Title"></td>
				</tr>
				<tr>
					<td>Équipe</td>
					<td ng-bind="report.Team"></td>
				</tr>
				<tr>
					<td>Quart</td>
					<td ng-bind="report.Period"></td>
				</tr>
			</table> -->
		</div>



	</div>
</div>
