
<div class="row">
	<div class="col-sm-4 col-sm-offset-4">
		<button ng-click="back()" class="btn btn-warning">Précédent</button>
		<input class="datepicker"/>
		<button ng-click="foward()" class="btn btn-primary">Suivant</button>
	</div>
</div>


<div class="row">
	<div class="col-sm-12">


		<h1 style="text-align: center;" ng-show="notFound">Aucun résultat</h1>

		<div ng-repeat="report in reports">
			<table ng-show="report" class="table table-hover table-striped">
				<caption>Rapport unités d'opérations</caption>
				<tr>
					<td>Identifiant</td>
					<td ng-bind="report.Id"></td>
				</tr>
				<tr>
					<td>Responsable</td>
					<td ng-bind="report.Author.Title"></td>
				</tr>
				<tr>
					<td>Équipe</td>
					<td ng-bind="report.Team"></td>
				</tr>
				<tr>
					<td>Quart</td>
					<td ng-bind="report.Period"></td>
				</tr>
			</table>
		</div>



	</div>
</div>
