

<div class="row" ng-show="isLoad">


	<div class="col-md-9">
<!-- 
		<div class="report-section">
			<h4>
				<a href="javascript:;" data-target="#securiteCollapse" aria-expanded="true" data-toggle="collapse">
					<i class="fa fa-caret-down" id="securiteIcon"></i>			
					Sécurité
				</a>
			</h4>
			<div class="collapse in" id="securiteCollapse">
				<ul class="">
					<li ng-repeat="comment in comments | filter:Section = 'securite'">
						<a href="javascript:;" ng-click="editComment(comment)">{{comment.Title}}</a>
						&nbsp;
						<a href="javascript:;" ng-click="removeComment(comment)">
							<i class="fa fa-remove"></i>
						</a>
					</li>
				</ul>
				<form class="form" ng-submit="addSecuriteComment()">
					<div class="form-group">
						<textarea class="form-control" ng-model="securite.Title" maxlength="255" placeholder="Maximum 255 charactères" rows="3"></textarea>
					</div>
					<button type="submit" class="btn btn-primary pull-right">Ajouter</button>
					<br/>
				</form>
			</div>
		</div>
 -->


 		<h1>
 			Rapport de Quart - {{report.Created | date}}&nbsp;
 			<a href="javascript:;" id="lastNote" ng-show="lastNote" ng-click="markNoteAsRead()" data-toggle="modal" data-target="#lastNode">
 				<div id="pastille" ng-show="!report.HasReadNote"></div>
 				<i class="fa fa-envelope"></i>
 			</a>
		</h1>



		<div class="report-section" ng-repeat="section in sections">
			<h4>
				<a href="javascript:;" data-target="#{{section.id}}Collapse" aria-expanded="true" data-toggle="collapse">
					<i class="fa fa-caret-down" id="{{section.id}}Icon"></i>			
					{{section.name}}
				</a>
			</h4>
			<div class="collapse in" id="{{section.id}}Collapse">
				<ul class="">
					<li ng-repeat="comment in comments | filter:{ Section: section.id } ">
						<a href="javascript:;" class="comment-text" ng-click="editComment(comment)">{{comment.Title}}</a>
						&nbsp;
						<a href="javascript:;" class="remove-comment" ng-click="removeComment(comment)">
							<i class="fa fa-remove"></i>
						</a>
					</li>
				</ul>
				<form class="form" style="position: relative" ng-submit="addComment(section.id)">
					<div class="form-group">
						<textarea class="form-control" 
											ng-model="inputs[section.id]" 
											maxlength="255" 
											id="{{section.id}}Comment"
											placeholder="Maximum 255 charactères" 
											rows="3"></textarea>
					</div>
					<span class="char-counter">{{inputs[section.id].length}}/255</span>
					<button type="submit" class="btn btn-primary pull-right">Ajouter</button>
					<br/>
				</form>
			</div>			

		</div>

	</div>













	<div class="" sticky="" sticky-class="custom-sticky-class" offset="34">


		<table ng-show="report" class="table table-hover table-striped">
			<caption>Rapport unités d'opérations</caption>
			<tr>
				<td>Identifiant</td>
				<td ng-bind="report.Id"></td>
			</tr>
			<tr>
				<td>Responsable</td>
				<td ng-bind="report.Author.Title"></td>
			</tr>
			<tr>
				<td>Équipe</td>
				<td ng-bind="report.Team"></td>
			</tr>
			<tr>
				<td>Quart</td>
				<td ng-bind="report.Period"></td>
			</tr>
		</table>


		
		<button class="btn btn-success btn-block" ng-click="submitReport()">Commettre le rapport</button>
		<a href="http://intranet" target="_top" class="btn btn-default btn-block" >Retourner à l'intranet</a>

	</div>
</div>








<!-- Modal -->
<div class="modal fade" id="lastNode" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Note du dernier rapport</h4>
      </div>
      <div class="modal-body">
        {{lastNote}}
      </div>
    </div>
  </div>
</div>


